@import 'modules/fonts';
@import 'modules/mixins';
@import 'modules/variables';

@import 'modules/animations';
@import 'modules/terminal';

body,
html {
	margin: auto;
	overflow: hidden;
}

body {
	background-color: cssvar(background-color);
	font-family: cssvar(font-family), monospace;
	font-size: cssvar(global-font-size);
	line-height: cssvar(global-line-height);
	color: cssvar(font-color);
	margin: 0;
	word-wrap: break-word;
}

* {
	box-sizing: border-box;
	text-rendering: geometricPrecision;
}

*::-moz-selection {
	background: cssvar(primary-color);
	color: cssvar(invert-font-color);
}

*::selection {
	background: cssvar(primary-color);
	color: cssvar(invert-font-color);
}

#app {
	/* grid container settings */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: calc(#{cssvar(global-scale-factor)} * 150px) 1fr auto;
	grid-template-areas:
        // header section

		'header'
		// content will be rendered by the routes
		'main'
		// footer section
		'footer';

	> main {
		grid-area: main;
		overflow: auto;
		margin: auto;

		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none;
		scrollbar-width: none;

		padding: 15px 10px;

		/* content grid */
		display: grid;
		// make sure the content is centered if not much content...
		grid-template-rows: 1fr minmax(0, calc(#{cssvar(global-scale-factor)} * 600px)) 1fr;
		grid-template-columns: 1fr;

		.scanline {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: $scanline-height;
			opacity: 0.1;
			background: $scanline-background;
			animation: scanline $scanline-speed ease-in-out infinite;
			pointer-events: none;
		}

		> section {
			// a route needs to be a section
			grid-area: 2 / 1 / 2 / 2;

			// a section with additional class full will take full content
			&.full {
				grid-area: 1 / 1 / 2 / 2;
			}
		}
	}
}
