@import '@fontsource/mr-dafoe';
@import '@fontsource/titillium-web';

@font-face {
	font-family: 'Hack';
	src:
		url('/fonts/hack-regular.woff2') format('woff2'),
		url('/fonts/hack-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	text-rendering: geometricPrecision;
}

html {
	margin: auto;
	overflow: hidden;

	--font-family: 'Hack', --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	--background-color: #1e1e1e;
	--background-color-transparent: rgba(30, 30, 30, 0.66);
	--background-brightness: 0.4;

	--global-font-size: var(--font-size-fluid-1);
	--global-line-height: var(--font-lineheight-4);
	--global-space: 10px;
	--global-scale-factor: 1;

	--page-width: 60em;

	--header-height: calc(120px * var(--global-scale-factor));
	--header-subtitle-height: 25px;

	--footer-height: calc(60px + var(--size-2));
	--footer-padding: var(--size-4);

	--subtitle-color: #f975f7;
	--font-color: #e8e9ed;
	--invert-font-color: #222225;
	--secondary-color: #a3abba;
	--tertiary-color: #a3abba;
	--primary-color: #62c4ff;
	--quaterny-color: var(--pink-6);

	--error-color: #ff3c74;
	--success-color: #00d22b;

	--dialog-background: radial-gradient(circle, #1e1e1e 60%, #f975f7 90%);

	--progress-height: 8px;
	--progress-margin: 38px;
	--progress-height-total: calc(var(--progress-height) + var(--progress-margin));
	--progress-bar-background: #f975f7;
	--progress-bar-fill: #00d22b;

	--code-bg-color: #3f3f44;
	--quote-color: #9ca2ab;
	--input-style: solid;
	--display-h1-decoration: none;

	--z-index-background: -2;
	--z-index-background-overlay: -1;
	--z-index-ux: 100;
	--z-index-foreground: 1000;
}

*::-moz-selection {
	background: var(--primary-color);
	color: var(--invert-font-color);
}

*::selection {
	background: var(--primary-color);
	color: var(--invert-font-color);
}

body {
	background-color: var(--background-color);
	font-family: var(--font-family), monospace;
	font-size: var(--global-font-size);
	line-height: var(--global-line-height);
	color: var(--font-color);
	margin: 0;
	word-wrap: break-word;
	height: 100dvh;
}

@media screen and (max-width: 620px) {
	:root {
		--global-scale-factor: 0.666;
	}
}

canvas {
	background-color: var(--background-color);
}

.action-link {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	p {
		padding-left: 5px;
	}
}

// Global Confirmation Dialog
dialog {
	border: 0;
	background-color: transparent;

	form {
		aspect-ratio: 1 / 1;
		padding: var(--size-8);

		border-radius: var(--radius-round);

		background: var(--dialog-background);

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--size-2);

		h3 {
			color: var(--font-color);
			padding: var(--size-2);

			max-width: 80%;

			text-align: center;
			text-overflow: ellipsis;
		}

		button {
			box-shadow: none;
			color: var(--subtitle-color);
			background-color: var(--gray-10);

			outline: 0;

			padding: var(--size-2);

			&:hover {
				filter: brightness(133%);
			}
		}
	}
}
