@import '@fontsource/mr-dafoe';
@import '@fontsource/titillium-web';

@font-face {
	font-family: 'Hack';
	src:
		url('/fonts/hack-regular.woff2') format('woff2'),
		url('/fonts/hack-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	text-rendering: geometricPrecision;
}

html {
	margin: auto;
	overflow: hidden;

	--font-family: 'Hack', --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--background-color: #1e1e1e;
	--global-font-size: var(--font-size-fluid-1);
	--global-line-height: var(--font-lineheight-4);
	--global-space: 10px;
	--global-scale-factor: 1;

	--page-width: 60em;
	--header-height: calc(var(--global-scale-factor) * 120px);
	--footer-height: 60px;
	--footer-padding: var(--size-4);

	--subtitle-color: #f975f7;
	--font-color: #e8e9ed;
	--invert-font-color: #222225;
	--secondary-color: #a3abba;
	--tertiary-color: #a3abba;
	--primary-color: #62c4ff;
	--quaterny-color: var(--pink-6);
	--error-color: #ff3c74;
	--success-color: #00d22b;
	--progress-bar-background: #f975f7;
	--progress-bar-fill: #00d22b;
	--code-bg-color: #3f3f44;
	--quote-color: #9ca2ab;
	--input-style: solid;
	--display-h1-decoration: none;
}

*::-moz-selection {
	background: var(--primary-color);
	color: var(--invert-font-color);
}

*::selection {
	background: var(--primary-color);
	color: var(--invert-font-color);
}

body {
	background-color: var(--background-color);
	font-family: var(--font-family), monospace;
	font-size: var(--global-font-size);
	line-height: var(--global-line-height);
	color: var(--font-color);
	margin: 0;
	word-wrap: break-word;
	height: 100vh;
}

@media screen and (max-width: 620px) {
	:root {
		--global-scale-factor: 0.666;
	}
}

form {
	fieldset {
		margin: 10px 0;

		&[disabled] {
			opacity: 0.5;
		}

		&::before {
			height: 5px;
			content: '';
			display: block;
			margin: 5px 0px 10px 0px;

			background-image: linear-gradient(to right, #ff55ff 0%, #55ffff 50%, #ff55ff 100%);
		}

		&[aria-busy='true']::before {
			background-size: 50% auto;
			animation: loading 0.5s linear infinite;
		}
	}
}

.action-link {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	p {
		padding-left: 5px;
	}
}
