form {
	fieldset {
		margin: 10px 0;

		&[disabled] {
			opacity: 0.5;
		}

		&::before {
			height: 5px;
			content: '';
			display: block;
			margin: 5px 0px 10px 0px;

			background-image: linear-gradient(to right, #ff55ff 0%, #55ffff 50%, #ff55ff 100%);
		}

		&[aria-busy='true']::before {
			background-size: 50% auto;
			animation: loading 0.5s linear infinite;
		}
	}
}
