.item {
	display: flex;
	justify-content: space-around;
	align-items: center;

	margin: 2px;

	&.done {
		border-color: var(--success-color);
	}

	> div {
		padding: 0 0 0 5px;
	}

	.quantity {
		color: var(--subtitle-color);
	}

	.amount {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.more {
			color: var(--subtitle-color);
		}

		button {
			border: 0;
			padding-top: 0;
			padding-bottom: 0;
			font-size: calc(var(--global-font-size) * 2);
		}
	}
}
